li#shopping-list {
    padding: 10px 20px;
    margin-top: 10px;
    list-style: none;
    background: rgb(23,28,50);
    background: linear-gradient(90deg, rgba(23,28,50,1) 30%, rgba(23,28,50,0) 100%);
     border-radius: 15px;
     display: grid;
     grid-template-columns: 0.3fr 0.2fr 0.2fr 0.3fr;
    
     flex-direction: row;
    align-items: center;
}

#checkcircle {
  margin-right: 20px;
}

#trash {
   justify-self: flex-end;
}

#trash:hover{
    color:rgb(144, 12, 12);
    
}
#checkcircle:hover{
    color:#80F57E;
}

.hidebutton{
    display: none
}

#shopping-list:hover .hidebutton{
    display: inline-block; 

}
.shopping-list-item{
margin-bottom: 0px;
}
