li#pantry-list {
  padding: 10px 20px;
  margin-top: 10px;
  list-style: none;
  background: rgb(23, 28, 50);
  background: linear-gradient(
    90deg,
    rgba(23, 28, 50, 1) 30%,
    rgba(23, 28, 50, 0) 100%
  );
  border-radius: 15px;
}

#render-all-recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1px;
  overflow: hidden;
  margin: 1px;
}

#save-heart {
  color: #171c32;
  justify-self: flex-end;
}

#save-heart:hover {
  color: #80f57e;
}

#cardtitle {
  display: flex;
  justify-content: space-between;
}