@media only screen and (max-width: 767px) {
    .content-container {
      max-width: 100%;
      max-height: 100%;
      overflow: scroll;
    }
  }

  body {
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }